<article class="post">
  <header class="post-header home">
    <div class="post-title">Projects</div>
  </header>

  <div class="post-content">
    {%- if site.posts.size > 0 -%}
    <div class="post-grid">
      {%- for post in site.posts -%}
      <div class="post-container">
        <div class="post-card">
          <h3 class="post-project-title">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>

          {%- if post.image -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="post-image">
          </a>
          {%- endif -%}

          {%- if post.excerpt -%}
          <p class="post-excerpt">{{ post.excerpt }}</p>
          {%- endif -%}
        </div>

        {%- if post.categories -%}
        <div class="post-categories">
          {%- for category in post.categories -%}
          <span class="category-tag category-{{ category | slugify }}">{{ category }}</span>
          {%- endfor -%}
        </div>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>
    {%- endif -%}
  </div>
</article>
