<article class="post">
  <header class="post-header home">
    <div class="post-title">Projects</div>
  </header>

  <div class="post-content">
    {%- assign all_categories = "" | split: "" -%}

    {%- assign all_categories = "DE,ML,DS,SDE" | split: "," -%}

    {%- for post in site.posts -%}
      {%- for category in post.categories -%}
        {%- unless all_categories contains category -%}
          {%- assign all_categories = all_categories | push: category -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- endfor -%}

    {%- for category in all_categories -%}
    <section class="category-section">
      <h2 class="category-title">{{ category }}</h2>

      <div class="post-grid">
        {%- for post in site.posts -%}
          {%- if post.categories contains category -%}
          <div class="post-container">
            <div class="post-card">
              <h3 class="post-project-title">
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>

              {%- if post.image -%}
              <a class="post-link" href="{{ post.url | relative_url }}">
                <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="post-image">
              </a>
              {%- endif -%}

              {%- if post.excerpt -%}
              <p class="post-excerpt">{{ post.excerpt }}</p>
              {%- endif -%}
            </div>
          </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </section>
    {%- endfor -%}

  </div>
</article>
